# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
# 忽略 launch.json 因為裡面可能包含 API Key
.vscode/launch.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android Secrets & Keys
key.properties
**/*.keystore
**/*.jks
local.properties
android/gradle.properties

# iOS Secrets & Configs
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# API keys and backend data
**/apiKeys.json
tree-project-backend/
